body {
    margin: 100px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid black;

}

th {
    background-color: rgb(142, 142, 171);
    border: 1px solid;
    text-align: left;
    padding: 8px;
}

tr td {
    text-align: left;
    border: 1px solid hsl(0, 1%, 21%);
    padding: 6px;

}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:hover {
    background-color: rgb(160, 189, 160);
}

.bodyButton {
    background-color: rgb(115, 186, 115);
    position: relative;
    margin-left: 100px;
    color: black;
    padding: 8px 30px;
    font-size: 15px;
    width: 10%;
    border-radius: 5px;
    border:  2px solid black;
}

input {
    width: 100%;
    padding: 6px;
    border-style: solid;
    border: 2px solid black;
    border-radius: 5px;

}

.bodyText {
    background-color: orange;
    margin-left: 50px;
    padding: 4px;
    font-size: 15px;
    color: white
}

#filterDrop {
    background-color: silver;
    position: relative;
    margin-left: 100px;
    color: white;
    padding: 8px;
    font-size: 11px;
    width: 10%;
    border-radius: 5px;
    border: 2px solid black;
}

#sortDrop {
    background-color:silver;
    position: relative;
    margin-left: 100px;
    color: white;
    padding: 8px;
    font-size: 11px;
    width: 10%;
    border-radius: 5px;
    border:2px solid black;
}
#back{
    background-color: gray;
    padding: 5px 15px;
    border-radius: 5px;
    margin-left: -55px;
}