.mystory{
    width: 200px;
    border-radius: 50px;
    padding: 10px;

   
}
h1{
    background: coral;
    border: 2px solid black;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    border: 3px solid black;
    padding: 5px;
   
    background: coral;
    
}

img{
    float: left;
}

button{
    border-radius: 10px;
    background-color:hsl(157, 86%, 72%);
}
body{
    background: lightblue
}
