body {
  background-color: rgba(167, 161, 148, 0.308);
}
#add {
  background-color: rgba(80, 133, 36, 0.966);
  margin-left: 310px;
  color: rgb(6, 24, 6);
}
.col1 {
  padding-right: 125px;
}
.col2 {
  padding-right: 125px;
}
.col3 {
  padding-right: 125px;
}
#name {
  padding-right: 460px;
}
#category {
  padding-right: 460px;
}
#quantity {
  padding-right: 460px;
}
.row0 {
  background-color: rgba(148, 144, 105, 0.781);
}
table {
  border-style: solid;
}
