input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    border: 2px solid black;
   
    

}
input:empty{
    clear:none ;
}

textarea{
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
   
}
button{
    border-radius: 5px;

}
div{
    display: inline-block;
    text-align: center;
    
}

